@model HypSuite.Domain.Models.Location

<form action="/HotelClient/ChooseLocation" method="post">
  <div class="form-group">
    <h1><label id="LocationID">Locations</label></h1><br>
      @foreach (var item in Model.LocationList)
      {
          @item
          @Html.RadioButton("LocationID", @item.LocationID, true)<br>
      }
  </div> 
  <button type="submit" class="btn btn-primary">Select Location</button>
</form>
<br>
<form action="/HotelClient/ClientPortal">
  <button type="submit" class="btn btn-primary">Cancel</button>
</form>