@model HypSuite.Domain.Models.Location

<form action="/HotelClient/ChooseLocation" method="post">
  <div class="form-group">
    <label for="LocationID">Location</label>
    <select class="form-control" id="LocationID">
      @foreach(var v in Model.LocationList)
      {
        <option name ="LocationID">@v</option>  
      }
    </select>
  </div> 
  <button type="submit" class="btn btn-primary">Select Location</button>
</form>