@model HypSuite.Domain.Models.HotelClient

@{
    ViewData["Title"] = "ClientPortal";
}

<p>Welcome, @Model.Name</p><br>
<form action="/HotelClient/ChooseLocation">
  <button type="submit" class="btn btn-primary">Create Room</button>
</form>
<br>
<form action="/HotelClient/UpdateRooms">
  <button type="submit" class="btn btn-primary">View Room Information</button>
</form>
<br>
<form action="/HotelClient/CreateLocation">
  <button type="submit" class="btn btn-primary">Create Location</button>
</form>