@{
    ViewData["Title"] = "ClientPortal";
}

<form action="/HotelClient/ChooseLocation">
  <button type="submit" class="btn btn-primary">Create Room</button>
</form>
<br>
<form action="/HotelClient/UpdateRooms">
  <button type="submit" class="btn btn-primary">Edit Room Information</button>
</form>
<br>
<form action="/HotelClient/CreateLocation">
  <button type="submit" class="btn btn-primary">Create Location</button>
</form>
<br>
<form action="/HotelClient/ClientInfo">
  <button type="submit" class="btn btn-primary">View Client Info</button>
</form>