@model HypSuite.Domain.Models.Location
@section AddToHead{
  <link href="@Url.Content("~/css/ClientLogin.css")" rel="stylesheet" type="text/css" />
}
<form action="/HotelClient/ClientLogin" method="post"> 
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <br>
        <img src="https://i.imgur.com/8HKxxru.png" id="icon" alt="User Icon" />
      </div>
      <br>
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="Name" placeholder="Name">
        <input type="password" id="password" class="fadeIn third" name="Password" placeholder="Password">
        <br><br>
        <button type="submit" class="btn btn-primary">Login</button>
        <br><br>
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
    </div>
  </div>
</form>