@model HypSuite.Domain.Models.Location

<form action="/HotelClient/CreateLocation" method="post">
  <div class="form-group">
    <label for="formGroupExampleInput">Street</label>
    <input type="text" class="form-control" id="Street" name="Street">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">City</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" name = "City">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">State/Province</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" name = "State">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Zip Code</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" maxlength="5" name = "ZipCode">
  </div>
  <!-- <div class="form-group">
    <label for="formGroupExampleInput2">Phone Number<br>(Format: 555-555-5555)</label>
    <input type="tel" class="form-control" id="formGroupExampleInput2" maxlength="12" name = "PhoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
  </div> -->

  <button type="submit" class="btn btn-primary">Create Location</button>
</form>