@model HypSuite.Domain.Models.Room

<form action="/HotelClient/CreateRoom" method="post">
  <div class="form-group">
    <label for="RoomID">Room #</label>
    <input type="text" class="form-control" id="RoomID" name="RoomID" maxlength="4">
  </div>

  <div class="form-group">
    @Html.DropDownListFor(r => r.MaxCapacity,
                          new SelectLis)
  <label for="MaxCapacity">Max Capacity</label>
    <select class="form-control" id="sel1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div> 

  <div class="form-group">
    <label for="sel1">Number of Beds</label>
    <select class="form-control" id="sel1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </div> 

  <div class="form-group">
    <label for="sel1">Number of Bathrooms</label>
    <select class="form-control" id="sel1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </div> 

  <p>Smoking</p>
  @Html.RadioButton("IsSmoking", false) 
  <span>No </span> 
  <br>
  @Html.RadioButton("IsSmoking", true)
  <span>Yes </span> 

  <br><br>
  <button type="submit" class="btn btn-primary">Create Room</button>
</form>