@model HypSuite.Domain.Models.Room

<form action="/HotelClient/CreateRoom" method="post">
  <div class="form-group">
    <label for="DailyRate">DailyRate</label>
    <input type="text" class="form-control" id="DailyRate" name="DailyRate" maxlength="5">
  </div>

  <div class="form-group">
    <label for="SizeSqFt">Size in Square Feet</label>
    <input type="text" class="form-control" id="SizeSqFt" name="SizeSqFt" maxlength="3">
  </div>

  <div class="form-group">
    <label for="MaxCapacity">Max Capacity</label>
    <select class="form-control" id="MaxCapacity" name="MaxCapacity">
      <option>1</option> 
      <option>2</option>
      <option>3</option> 
      <option>4</option>  
    </select>
  </div> 
  
  <!-- Fix Name -->
  <div class="form-group">
    <label for="NumberOfBeds">Number of Beds</label>
    <select class="form-control" id="NumberOfBeds" name="NumberOfBeds">
      <option>1</option> 
      <option>2</option>
      <option>3</option> 
      <option>4</option>  
    </select>
  </div> 


  <div class="form-group">
    <label for="NumberOfBathrooms">Number of Bathrooms</label>
    <select class="form-control" id="NumberOfBathrooms" name="NumberOfBathrooms">
      <option>1</option> 
      <option>2</option>
      <option>3</option> 
    </select>
  </div> 

  <p>Smoking</p>
  @Html.RadioButton("IsSmoking", false) 
  <span>No </span> 
  <br>
  @Html.RadioButton("IsSmoking", true)
  <span>Yes </span> 

  <br><br>
  <button type="submit" class="btn btn-primary">Create Room</button>
</form>