@model HypSuite.Domain.Models.Location

<form action="/HotelClient/CreateLocation" method="post">
  <div class="form-group">
    <label for="Street">Street</label>
    <input type="text" class="form-control" id="Street" name="Street">
  </div>
  <div class="form-group">
    <label for="City">City</label>
    <input type="text" class="form-control" id="City" name = "City">
  </div>
  <div class="form-group">
    <label for="State">State/Province</label>
    <input type="text" class="form-control" id="State" name = "State">
  </div>
  <div class="form-group">
    <label for="ZipCode">Zip Code</label>
    <input type="text" class="form-control" id="ZipCode" maxlength="5" name = "ZipCode">
  </div>

  <button type="submit" class="btn btn-primary">Create Location</button>
</form>