@{
    ViewData["Title"] = "AdminPortal";
}
<form action="/Admin/RegisterClient">
  <button type="submit" class="btn btn-primary">Register Client</button>
</form>
<br>
<form action="/Admin/ViewClients">
  <button type="submit" class="btn btn-primary">View Clients</button>
</form>