@model HypSuite.Domain.Models.Location

<h1>Select the region you want to stay in: </h1>

<form action="/Guest/ChooseRegion" method ="post">
  <fieldset name="select">
    <label></label>
    <select name= "State">
      <option label = "Texas" value="Texas">Texas</option>
      <option label = "Arkansas" value="Arlington">Arlington</option>
      <option label = "Oklahoma" value="Oklahoma">Oklahoma</option>
      <option label = "Louisiana" value="Louisiana">Louisiana</option>
      <option label = "California" value="California">California</option>
    </select>
  </fieldset>

  <button type="submit">Select Location</button>
</form>