@model HypSuite.Domain.Models.Reservation
@section AddToHead{
  <link href="@Url.Content("~/css/ConfirmReservation.css")" rel="stylesheet" type="text/css" />
}


<h1>Your reservation has been confirmed!</h1>
<br><br><br><br>
<body background = "https://ca-times.brightspotcdn.com/dims4/default/02052e7/2147483647/strip/true/crop/3972x2648+414+0/resize/1680x1120!/quality/90/?url=https%3A%2F%2Fca-times.brightspotcdn.com%2F5d%2Fc6%2Ff597dfb94c88a0237fb135913d75%2Fimage-05.jpg">
<div>
<h3>Here are the reservation details: </h3>
</div>
</body>