@model HypSuite.Domain.Models.Reservation

<h1>Which room would you like to remove?</h1>
<br><br><br>
<br><br><br>

<form action="/Guest/RemoveRooms" method="delete">
  @foreach (var item in Model.Rooms)
  {
      @Html.RadioButton("RoomID", @item);
  }
  <button type="submit">Select Room</button>

</form>