@model HypSuite.Domain.Models.Reservation

<h1>Which room would you like to remove?</h1>
<br><br><br>
<br><br><br>

<form action="/Guest/RemoveRoom" method="Delete">
  @foreach (var item in Model.Rooms)
  {
      @item
      @Html.RadioButton("RoomID", @item.RoomID,true);
      <br>
  }
  <button type="submit">Select Room</button>

</form>