@model HypSuite.Domain.Models.Room

<h3>Here is a list of available rooms within the region you selected: </h3>
<br><br>
<form action="/Guest/ViewRooms" method="post">
  <label id="RoomID">Available Rooms:</label><br>
  @foreach (var item in Model.Available)
  {
      @item
      @Html.RadioButton("RoomID", @item.RoomID)<br>
  }
<button type="submit">Next</button>
</form>