@model HypSuite.Domain.Models.Location

<h1>Here is our Location choices for you:</h1>
<br><br>
<form action="/Guest/ViewLocations" method ="post">
    <label id="Location">Nearby Locations:</label><br>
    @foreach (var v in Model.Nearby){
      @v.Street 
      @Html.RadioButton("Street", @v.Street)<br>
    }
  <button type="submit">Next</button>
</form>