@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>HypSuite is the best choice for hotel management.</p>
<br>
<p>HypSuite was developed in 2019 by Daniel Ghazvini and Oscar Ponte.</p>