@{
    ViewData["Title"] = "ClientPortal";
}
<form action="../Portal/RegisterClient">
  <button type="submit" class="btn btn-primary">Register Client</button>
</form>
<br>
<form action="../Portal/ClientInfo">
  <button type="submit" class="btn btn-primary">View Client Info</button>
</form>