@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to HypSuite!</h1>
    <p>The premier choice for hotel management.</p>

    <img src="https://content.r9cdn.net/res/images/horizon/seo/common/destinationtiles/seo_hotels.jpg?v=aeb8c67f83d5b9fd53ca97055fc8402800bf3ce4&cluster=4">
    <br><br>
    <form action="/Guest/ViewLocations" method="post">
      <button type="submit" class="btn btn-primary">View Hotel Locations</button>
    </form>
</div>
