@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to HypSuite!</h1>
    <p>The premier choice for hotel management.</p>

    <img src="https://images.unsplash.com/flagged/photo-1556438758-8d49568ce18e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" alt="Bedroom Image">

    <br><br>
    <p>All images free to use from under Unsplash License from unsplash.com</p>
</div>
